---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: iotdb-restore
  namespace: iotdb
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: iotdb-restore
  namespace: iotdb
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["pods/exec"]
  verbs: ["create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: iotdb-restore
  namespace: iotdb
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: iotdb-restore
subjects:
- kind: ServiceAccount
  name: iotdb-restore
  namespace: iotdb
